yeaz_data/
venv/
tmp/
cgan_env/
yeaz_dataset/
__pycache__/
yeast_model_output/
.DS_Store
raw_data/
logs/
tmp_long/
test_results*/
test_*/
imp_train/yeaz_dataset_fixed/
tmp_*
test_*.sh
tiff_processing/results*/
tiff_processing/my_results_more/
generate_from_masks.sh
test_gen_job1.sh
test_seg_job1.sh
train_job_long1.sh
imp_train/improved_data_preprocessing1.py
imp_train/test_dataset_numerical1.py
imp_train/test_yeast_training1.py